<!DOCTYPE html>
<html>
 BUY  IPM PRoducts 
 <ion-tabs class="tabs-icon-top">
 

 <!-- Dashboard Tab -->
 <ion-tab title="Billing" icon="icon ion-home" href="student">
 <ion-nav-view name="tab-dash"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Friends Tab -->
 <ion-tab title="Friends" icon="icon ion-heart" href="#/Billing ">
 <ion-nav-view name="tab-friends"></ion-nav-view>
 </ion-tab>
 
 
 <!-- Account Tab -->
 <ion-tab title="Account" icon="icon ion-gear-b" href="#/Shipping">
 <ion-nav-view name="tab-account"></ion-nav-view>
 </ion-tab>
 
 
</ion-tabs>

</html>