<ion-view title="IPM products" id="page13" class=" " style="background-color:#E6EAF0;"  >
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="iPMProducts-list-item-container2"></div>
        <ion-list id="iPMProducts-list12" class=" ">
		
            <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="mathemagic.productDetails" >
			<img src="http://ipm-mathemagic.com/new/products/Images/examReg.gif"></img> 
                <h2assertive>IPM 2017 Exam
                    <p>Enroll for IPM 2017 exam</p> 
				</h2assertive>
				<h2balanced> Rs. 300 </h2balanced> <br/>
				<button class="button button-balanced">
   Buy
</button>
            </ion-item>
			
			 <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="orderDetails({prodid : 1 ,prodname : 'Supreme' , price: 1100   })" >
			<img src="http://ipm-mathemagic.com/new/products/Images/supreme.jpg"></img> 
                <h2assertive>Supreme Pack
                    <p>This pack contains IPM 2017 exam registration , IPM books at your doorstep and acces to Online tests </p> 
					
                </h2assertive>
				<h2balanced> Rs. 1100 </h2balanced> <br/>
				<button class="button button-balanced">
   Buy
</button>
            </ion-item>
			
			 <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="orderDetails({prodid : 2 , prodname : 'eLearning ', price: 700 })">
			<img src="http://ipm-mathemagic.com/new/products/Images/e-learning.jpg"></img> 
                <h2assertive>Elearning Pack
                    <p>This pack containts IPM 2017 exam registration and access to Online tests </p> 
					
                </h2assertive>
				<h2balanced> Rs. 700 </h2balanced> <br/>
				<button class="button button-balanced">
   Buy
</button>

            </ion-item>
			
			 <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="#/orderDetails/:4" >
				    <img src="http://ipm-mathemagic.com/new/products/Images/online.jpg"></img> 
                <h2assertive>Online Tests 
                    <p>With this package you get access to Online Tests </p> 
					
                </h2assertive>
				<h2balanced> Rs. 500 </h2balanced> <br/>
				<button class="button button-balanced">
   Buy
</button>
            </ion-item>
			
			 <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="orderDetails({prodid : 1 ,prodname : 'IPM Book Set' , price: 350   })" >
			<img src="http://ipm-mathemagic.com/new/products/Images/examReg.gif"></img> 
                <h2assertive>IPM Book Set
                    <p>This consists of 3 IPM Books </p> 
					<h2balanced> Rs. 350 + shipping </h2balanced> <br/>
				<button class="button button-balanced">
   Buy
</button>
					
                </h2assertive>
            </ion-item>
			
			
			
           
        </ion-list>


<BR/>
<BR/>


    <ion-tabs class="tabs-stable tabs-icon-top " id="mathemagic-tabs1">
        <ion-tab title="Home" icon="ion-home" href="#/home" id="mathemagic-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Buy Products" icon="ion-ios-box" href="#/products" id="mathemagic-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Tests" icon="ion-ios-cart" href="#/learning" id="mathemagic-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Student services" icon="ion-ios-cloud" href="#/services" id="mathemagic-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
	    </ion-content>
</ion-view>
