


<ion-view cache-view="false" style="background-color:#66CDAA;"  title="Mathemagic" id="page1"   class=" ">

 <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
	
    <ion-nav-buttons side="right">
        <div style="text-align:right;margin-right:5px">
            <img src="img/logo.png" width="24" height="28" />
            
        </div>
    </ion-nav-buttons>
	
	<BR/>
	<BR/>
	<BR/>
	
	
	
	<ion-content> 
	
		<ion-list>
		 
  <ion-item ng-repeat="ipm_message in ipm_messages">
           
		   
		   
			<ion-item class="balanced item-text-wrap balanced ">
            <div class="row"> 
            <div class="col-20"> 
			<img src={{ipm_message.message_img}} width=75% > 
			</div> 
			<div class="col"> 
			{{ipm_message.message_text}}</ion-item>
			</div>
			</div> 
			
		
 </ion-list>
 
<BR/>
<BR/>
	
		</ion-content> 
		<BR/>
		<BR/>
   
</ion-view>