<ion-view title="My Orders " style="background-color:#66CDAA;" id="page14" class=" ">
    
	<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div style="text-align:right;margin-right:5px">
            <img src="img/logo.png" width="24" height="28" />
            <div class="signin">
                <ul ng-if="userModel.isLogIn==false">
                    <li>
                        <a href="#/login">Login</a>
                    </li>
                </ul>
                <ul ng-if="userModel.isLogIn==true">
                    <li>{{userModel.firstname}}</li>
                </ul>
            </div>
        </div>
    </ion-nav-buttons>


<ion-content padding="true" class="has-header">
	
	
	
	
  
<ion-list>
	<ion-item>
	<div class="row">
	<div class="col positive"> Order Number </div> 
	<div class="col positive"> Order Status </div> 
    </div> 	
	</ion-item> 
	
  <ion-item ng-repeat="item in orders">
  <div class="row"> 
  <div class="col">{{item.ipm_orderId }} </div> 
	<div class="col assertive" ng-if="item.status == 'Pending'" > {{item.status }} </div> 
	 <div class="col balanced" ng-if="item.status == 'Confirmed'" > {{item.status }} </div> 
   </div> 
   

  
 
</ion-list> 
<BR/>

</ion-content> 

</ion-view>
</html> 
