<<!DOCTYPE html>
<html>
<head>
    <title>Card &ndash; the better way to collect credit cards</title>
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
<script src="card11212.js"></script>
    <script>
	console.log( " here in in js") ; 
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
	
    <style>
        .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
        }

        form {
            margin: 30px;
        }
        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }

    </style>
	<ion-view title="Payment" hide-back-button="true">
 <form method="post" action="https://secure.ebs.in/pg/ma/payment/request" name="frmTransaction" id="frmTrasaction" target="_blank">
<input name="account_id" type="hidden" value=10532 /> 
<input name="reference_no" type="hidden" value=123456  /> 
<input name="amount" type="hidden" value=100  /> 
<input name="mode" type="hidden" value="LIVE"  /> 
<input name="currency" type="hidden" value="INR" /> 
<input name="description" type="hidden" value="by sandeep" /> 
<input name="return_url" type="hidden" value=http://ipm-mathemagic.com/plugins/vmpayment/ebs/response.php?DR={DR}  /> 
<table> 
<tr>
<td>Name </td>
<td>
<input name="name" >  </td> </tr><tr> 
<td>Address</td>
<td>
<input name="address" >  </td>  </tr><tr> 
<td>City </td> 
<td> 
<input name="city"  > </td></tr><tr> 
<td>State </td> 
<td> 
<input name="state"  >  </td>  </tr><tr> 
<td>Country</td>  
<td> 
<input name="country"  >  </td> </tr><tr> 
<td>Postal Code</td> 
<td> 
<input name="postal_code"  >   </td> </tr><tr>  
<td>Phone</td> 
<td> 
<input name="phone"  > </td>   </tr><tr> 
<td>Email </td> 
<td> 
<input name="email" ></td>   </tr>
</table> 
<input name="ship_phone" type="hidden" value="" /> 
<input name="bank_code" type="hidden" value="" /> 
<input name="payment_option" type="hidden" value="" /> 
<input name="secure_hash" type="hidden" value=ae34637866a2591fd181c473f7371d03  /> 
<input name="name_on_card" type="hidden" value=TEST TEST  /> 
<input name="card_number" type="hidden" value=4111111111111111  /> 
<input name="card_expiry" type="hidden" value=0717  /> 
<input name="card_cvv" type="hidden" value=123  /> 
<input name="channel" type="hidden" value=0  /> 
<input name="page_id" type="hidden" value=7595  /> 
<input value="Submit" type="submit" /> 

</form>
</ion-view>
    
</body>
</html>