<!DOCTYPE html>
<html>


<script>
$(".toggle-btn:not('.noscript') input[type=radio]").addClass("visuallyhidden");
$(".toggle-btn:not('.noscript') input[type=radio]").change(function() {
    if( $(this).attr("name") ) {
        $(this).parent().addClass("success").siblings().removeClass("success")
    } else {
        $(this).parent().toggleClass("success");
    }
});


</script>

<style>

.bar-header{
  
  height: 60px 
}


</style> 



<ion-view title="Order Details" style="background-color:#66CDAA;"  id="page14" class=" " hide-back-button="false" >

<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div style="text-align:right;margin-right:5px">
            <img src="img/logo.png" width="24" height="28" />
            <div class="signin">
                <ul ng-if="userModel.isLogIn==false">
                    <li>
                        <a href="#/login">Login</a>
                    </li>
                </ul>
                <ul ng-if="userModel.isLogIn==true">
                    <li>{{userModel.username}}</li>
                </ul>
            </div>
        </div>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
 <form name="billingForm">
 <center>{{errorMessage}}</center>
 
 <div class="row"> 
 <div class="col"> 
<div class="card">
<div class="item item-divider">
Product Selected 
</div>
<div class="list">
   <div class="item" ng-model="orderData.prodname" > {{prodname}} </div>
   <div class="item" ng-model="orderData.price">Rs. {{price}} </div>
   
</div> 
</div>
</div>


</div> 
</div> 


<div class="card">
<div class="item item-divider">
Standard 
</div> 
<label class="item item-input item-select" >
    <div class="input-label">
      Select Standard
    </div>
    <select ng-model="orderData.standard" required >
      <option>2</option>
      <option>3</option>
      <option>4</option>
	  <option>5</option>
	  <option>6</option>
	  <option>7</option>
	  <option>8</option>
	  <option>9</option>
    </select>
  </label>


</div>

</div>



<div id="studentdetails" ng-if ="student == true "  > 
 <div class="row"> 
 <div class="col"> 
	
<div class="card">
<div class="item item-divider">
Student Details  
</div>
  <div class="item item-text-wrap">

  <div class="list">
  
   <label class="item item-input" >
    <input type="text" placeholder="Student Name" ng-model="orderData.student_name">
  </label>


  
 
   <label class="item item-input" >
    <input type="text "  placeholder="Enter part of School Name  & search " ng-model="orderData.school_name">
  </label>

  
  
   
   

 <div class = "row">
 <div class = "col">
 <button ng-click="showSchools(orderData)" class="button-positive icon icon-right ion-search" >
 Search School
</button>   </div> 

 <div class="col assertive"> Please be patient , it takes some time to load schools </div>  
 </div>
  </div>
<div class="row">
<div class="col">  
<div class="card">
<div class="item item-divider">
Gender
</div>

  <div class="radio">
            <label>
                <input type="radio" name="gender" value="Male" ng-model="orderData.gender">
                Male
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="gender" value="Female" ng-model="orderData.gender">
                Female
            </label>
  </div>
</div>
</div>
 
<div class="col">  
<div class="card">
<div class="item item-icon-left" ion-datetime-picker date ng-model="orderData.birthDate">
                <i class="icon ion-ios-calendar positive"></i>
                Date of Birth :
                <strong>{{orderData.birthDate| date: "dd-MM-yyyy"}}</strong>
</div
</div>
</div>




</div>

		
  


</div>
  
</div>
</div>
</div> 
</div>
</div>


</div>

<div class="card">
<div class="item item-divider">
Billing & Shipping address
</div>


  <div class="item item-text-wrap">
   <div class="list">
 
   
  <label class="item item-input" >
    <input type="text" placeholder="Billing Name" ng-model="orderData.billingname" ng-pattern-restrict="^[A-Za-z 0-9 , - ]*$" required>
	 <p ng-show="orerData.billingname.$error.required">Billing name is required.</p>

  </label>
  <label class="item item-input" >
    <input type="text" placeholder="Address" ng-model="orderData.address" ng-pattern-restrict="^[A-Za-z 0-9 \, \/ \- ]*$" required>
	 
  </label>  
   <label class="item item-input" >
    <input type="number" placeholder="Phone" ng-model="orderData.phone" minlength="5">
  </label>  
  

   <label class="item item-input" >
    <input type="text" placeholder="City" ng-model="orderData.city"  ng-pattern-restrict="^[A-Za-z ]*$" >
  </label>  
 
   
  
   <label class="item item-input" >
    <input type="number" placeholder="Pincode" ng-model="orderData.pincode"  required>
  </label>  
   
   

   
   <label class = "item item-input item-select">
   <div class = "input-label">
      State
   </div>
	 <select id ="stateid" ng-options="field.id as field.state for field in states" ng-model="orderData.state">
<option value="">Maharashtra</option>	 
	 </select> 
	
	 
   
   
   
   
   
   
  
 


   </div>
  </div>
  
 
	
  </div>

  </div> 
<div id="shipping" ng-if="prodname =='IPM Book Set'"> 
<div class="card" >
<div class="item item-divider">

Shipping Charges 
</div>

<div class="list">
   <div class="item" ng-model="orderData.shipping" ng-if="orderData.state == null" > Shipping charges( Maharashtra) : Rs. 125 </div>
   <div class="item" ng-model="orderData.shiiping" ng-if="orderData.state != null " > Shipping charges( Ourside Maharashtra) : Rs. 175 </div>
   <div class="item" ng-model="orderData.orderAmount" ng-if="orderData.state ==null "   > Total Charges :   Rs. 475 </div>
   <div class="item" ng-model="orderData.orderAmount" ng-if="orderData.state !=null "   > Total Charges :   Rs. 525 </div>
   
</div> 

 
</div>

</div>



<div class="padding">


 <center>{{errorMessage}}</center>

<button class="button button-block button-positive" ng-click="saveOrder(orderData)" >Submit</div>
</div>  

</form>

	</ion-content>
	
</ion-view>


</html>