<ion-view title="Profile"  style="background-color:#66CDAA;" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <div style="text-align:right;margin-right:5px">
            <img src="img/logo.png" width="24" height="28" />
           
        </div>
    </ion-nav-buttons>
    <center> 
    <ion-content has-header="true" class="content-bg"  >

        <div class="list list-inset content-bg " style="padding:10px">
            <div ng-if="loginAlerts.length>0">
                <div class="alert alert-{{alert.type}}" ng-repeat="alert in loginAlerts">{{alert.message}}</div>
            </div>
			
		
  
            <form role="form" name="myForm" class="content-bg-wrapper">
			
				<label class="item item-input">
  <i class="icon ion-person-add placeholder-icon"></i>
  
                <input type="text" class="form-control" name="username" placeholder="Enter user name" ng-model="user.username"  readonly> 
               </label>
			   
                <br />
				
				  <label class="item item-input">
  <i class="icon icon ion-person placeholder-icon"></i>
  
                <input type="text" class="form-control" name="lastname" placeholder="Enter name" ng-model="user.name" required> 
                <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                    <span ng-show="myForm.name.$error.required">Name is required.</span>
                </span>
				  </label>
                <br />
				
				 <label class="item item-input">
  <i class="icon icon ion-iphone placeholder-icon"></i>
  
                <input type="number" class="form-control" name="mobile" placeholder="Enter mobile number" ng-model="user.mobile" required> 
                <span style="color:red" ng-show="myForm.mobile.$dirty && myForm.mobile.$invalid">
                    <span ng-show="myForm.mobile.$error.required">Mobile number is required.</span>
                </span>
				  </label>
                <br />
				
				<label class="item item-input">
  <i class="icon ion-ios-email placeholder-icon"></i>
  
                <input type="email" class="form-control" name="emailid" placeholder="Enter email id" ng-model="user.email" required> 
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                </span>
				  </label>
                <br />
              
			       
			    <label class="item item-input">
  <i class="icon icon ion-locked placeholder-icon"></i>
  
                <input type="password" class="form-control" name="password" placeholder="Enter password" ng-model="user.password" required>
                <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">Password is required.</span>
                </span>
				  </label>
                <br />
				     
			    <label class="item item-input">
  <i class="icon icon ion-locked placeholder-icon"></i>
  
                <input type="password" class="form-control" name="repassword" placeholder="Enter re-confirm password" ng-model="user.repassword" required>
                <span style="color:red" ng-show="myForm.repassword.$dirty && myForm.repassword.$invalid">
                    <span ng-show="myForm.repassword.$error.required">Re-confrim password is required.</span>
                </span>
				  </label>
                <br />
				
  <label class="item item-input">
  <i class="icon ion-ios-location placeholder-icon"></i>          
                <input type="text" class="form-control" name="city" placeholder="Enter city" ng-model="user.city" required>
                <span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid">
                    <span ng-show="myForm.city.$error.required">City is required.</span>
                </span>
				  </label>
                <br />
               
                
                

                <button class="buttonDarkblue" ng-click="updateProfile(user)" ng-disabled="myForm.password.$invalid">Update Profile</button>
            </form>

        </div>

    </ion-content>
</center> 

</ion-view>