
<!DOCTYPE html>
<html>

<ion-view title="Solve Test " id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="solveTest-form7" class="list ">
		
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<body>

<div ng-app="myApp" ng-controller="quizCtrl">

<font size= 4>
<table border="1">
<tr><TD>Question -{{currentQuestion}} : </p></TD><TD>  <p ng-bind-html="quiz[currentQuestion-1].text" ></p> </TD> </TR> 

<tr><TD align="right"><input type="radio" name="currentQuestion"  ng-model="quiz[currentQuestion-1].userSelection" value="1"></TD> <TD><label for "currentQuestion"><div ng-bind-html="quiz[currentQuestion-1].ans1" </div> </TD> </tr>
<tr><TD align="right"> <input type="radio" name="currentQuestion"  ng-model="quiz[currentQuestion-1].userSelection" value="2"></TD> <TD><label for "currentQuestion"><div ng-bind-html="quiz[currentQuestion-1].ans2" </div> </TD>     </tr>
<tr><TD align="right"><input type="radio" name="currentQuestion"  ng-model="quiz[currentQuestion-1].userSelection" value="3"></TD> <TD><label for "currentQuestion"><div ng-bind-html="quiz[currentQuestion-1].ans3" </div> </TD>    </tr>
<tr><TD align="right"><input type="radio" name="currentQuestion"  ng-model="quiz[currentQuestion-1].userSelection" value="4"></TD> <TD><label for "currentQuestion"><div ng-bind-html="quiz[currentQuestion-1].ans4" </div> </TD>     </tr>
</table>
	
	<button ng-disabled="currentQuestion==1" ng-click=getQuestion("prev")>Prev</button>
	<button ng-disabled="currentQuestion==40" ng-click=getQuestion("next")>Next</button>
	<button ng-disabled="currentQuestion< 40" ng-click=submitQuiz()>Submit</button>

</font> 	
</div>



      
    </ion-content>
</ion-view>
</body>
</html>
