<ion-view title="Test Summary " id="page8" class=" ">
    
		
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
 <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
	  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
	
    <script src="./table.css"></script> 
	
<ion-view title="Test Summary" id="page8" class=" ">

<body>
   
    
	<ion-content>
        <div class="row header">
          <div class="col"><p class="item positive">Question No</p></div>
          <div class="col"><p class="item positive">Status</p></div>
               
       
        </div>
        <div class="row" ng-repeat="item in quiz">
          <div class="col"><p class="item royal" >{{item.question_no }}</p></div>
          <div ng-if="item.userSelection" class="col" ui-sref="solveTest({quizid : item.id , currentQuestion : item.question_no })" ><p ng-click=gotoQuestion({{item.question_no}}) class="item balanced" >Answered</p> </div>
		  <div ng-if="!item.userSelection" class="col" ui-sref="solveTest({quizid : item.id , currentQuestion : item.question_no })"><p ng-click=gotoQuestion({{item.question_no}}) class="item assertive" >Not Answered</p> </div>
 
        
        </div>
   
   <button id="testSummary-button15" class=" button button-positive  button-block" ng-click=showResults()>Submit Test</button>
    </ion-content>
	</body>
	
</ion-view>


        