<ion-view title="IPM products" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="iPMProducts-list-item-container2"></div>
        <ion-list id="iPMProducts-list12" class=" ">
            <ion-item class="item-thumbnail-left assertive  " id="iPMProducts-list-item8" ui-sref="mathemagic.productDetails">
                <h2assertive>IPM 2016 Exam
                    <p>Enroll for IPM 2016 exam</p>
                </h2assertive>
            </ion-item>
            <ion-item class="item-avatar  " id="iPMProducts-list-item9">
                <h2>Online tests</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="iPMProducts-list-item10">
                <h2>Supreme Pack</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="iPMProducts-list-item11">
                <h2>eLearning Pack</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="iPMProducts-list-item12">
                <h2>IPM Bookset</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>