<ion-view title="Product Details" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="productDetails-markdown1" style="color:#000000;" class=" ">Details about the products</p>
        <form id="productDetails-form8" class="list ">
            <label class="item item-input " id="productDetails-input14">
                <span class="input-label">Student Fulll Name</span>
                <input type="text" placeholder="">
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="productDetails-toggle2" name="Make" class=" ">Gender</ion-toggle>
            <ion-radio id="productDetails-radio2" class=" ">Radio</ion-radio>
        </form>
        <form id="productDetails-form10" class="list ">
            <label class="item item-select " id="productDetails-select1">
                <span class="input-label">School</span>
                <select>
                    <option></option>
                </select>
            </label>
        </form>
        <button id="productDetails-button16" class=" button button-positive  button-block ">Buy</button>
    </ion-content>
</ion-view>