<ion-view title="Student services" id="page15" style="background-color:#E6EAF0;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="studentServices-list14" class=" ">
            <ion-item class="item-divider " id="studentServices-list-item-divider1">Final 2016</ion-item>
            <ion-item id="studentServices-list-item24" class="  ">Hall ticket 2016 Final</ion-item>
        </ion-list>
        <ion-list id="studentServices-list15" class=" ">
            <ion-item class="item-icon-left  " id="studentServices-list-item26">
                <i class="icon ion-ionic"></i>Marks 2016 Final</ion-item>
            <ion-item class="item-divider " id="studentServices-list-item-divider2">Mega Final 2016</ion-item>
            <ion-item class="item-icon-left  " id="studentServices-list-item27">
                <i class="icon ion-ionic"></i>Hall ticket 2016 - Mega Final</ion-item>
            <ion-item class="item-icon-left  " id="studentServices-list-item28">
                <i class="icon ion-ionic"></i>Results 2016- Mega Final</ion-item>
            <ion-item class="item-divider " id="studentServices-list-item-divider3">Message Center</ion-item>
            <ion-item class="item-icon-left  " id="studentServices-list-item29">
                <i class="icon ion-ionic"></i>Notifications</ion-item>
        </ion-list>
    </ion-content>
</ion-view>